{% load staticfiles %}
<html>
<head>
    <title>自定义使用tinymce</title>
    <script type="text/javascript" src='{% static '/js/tiny_mce_src.js' %}'></script>
    <script type="text/javascript">
        tinyMCE.init({
            'mode':'textareas',
            'theme':'advanced',
            'width':800,
            'height':800
        });
    </script>
</head>
<body>
<form method="post" action="#">
    <input type="text" name="title">
    <textarea name='gcontent'>哈哈，这是啥呀</textarea>
</form>
</body>
</html>